.hero {
	background-color: #00796B;
}

input[type="submit"] {
	color: #ffffff;
	background-color: #00796B;
}

/* Validation */
.validation-message {
	background-color: #00796B;
	color: #FFFFFF;
	display: none;
	padding: 0 10px;
}