.hero {
	background-color: #512DA8;
}

.credit-card {
	width: 86.6%;
}

input[type="submit"] {
	background-color: #512DA8;
	color: #ffffff;
}

.validation-message,
#card-expired {
	display: none;
	background-color: #512DA8;
	color: #ffffff;
	padding: 0 10px;
}

#card-expired {
	margin-bottom: 10px;
}